.navbar{
    background: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-inline: 20px;
}
.navbar ul {
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
}